<div class="container mt-5">
  <div class="text-right mb-5">
    <button class="btn btn-success" routerLink="/create-product">Creer un produit</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libelle</th>
        <th scope="col">Prix</th>
        <th scope="col">Categorie</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">3</td>
        <td scope="row">sdfs</td>
        <td scope="row">sdfs</td>
        <td colspan="2">Nom produit</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-primary btn-sm" routerLink="/edit-product">Editer</button>
            <button class="btn btn-danger btn-sm">Supprimer</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
