<div class="container">
  <form action="">

    <div class="row">
      <div class="col-lg-12 m-lg-5 mt-lg-5">
        <div class="card card-small" style="width: 30rem;">
          <div class="card-header">
            <div class="card-title">
              <h4>Modifier la categorie</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="">Nom</label>
                  <input type="text" name="name" id="name" class="form-control form-control-lg">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="">Description</label>
                  <textarea type="text" name="description" id="description" class="form-control form-control-lg"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-block btn-large">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>
